# Practice Loading and Exploring Datasets

This assignment is purposely open-ended. You will be asked to load datasets from the [UC-Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/index.php). 

Even though you maybe using different datasets than your fellow classmates, try and be supportive and assist each other in the challenges that you are facing. You will only deepend your understanding of these topics as you work to assist one another. Many popular UCI datasets face similar data loading challenges.

Remember that the UCI datasets do not necessarily have a file type of `.csv` so it's important that you learn as much as you can about the dataset before you try and load it. See if you can look at the raw text of the file either locally or using the `!curl` shell command -or in some other way before you try and read it in as a dataframe. This will help you catch what would otherwise be unforseen problems.

Feel free to embellish this notebook with additional markdown cells,code cells, comments, graphs, etc. Whatever you think helps adequately address the questions.

## 1) Load a dataset from UCI (via its URL)

Please navigate to the home page and choose a dataset (other than the Adult dataset) from the "Most Popular" section on the right-hand side of the home page. Load the dataset via its URL and check the following (show your work):

- Are the headers showing up properly?
- Look at the first 5 and the last 5 rows, do they seem to be in order?
- Does the dataset have the correct number of rows and columns as described in the UCI page? 
 - Remember, that UCI does not count the y variable (column of values that we might want to predict via a machine learning model) as an "attribute" but rather as a "class attribute" so you may end up seeing a number of columns that is one greater than the number listed on the UCI website.
- Does UCI list this dataset as having missing values? Check for missing values and see if your analysis corroborates what UCI reports?
- if `NaN` values or other missing value indicators are not being detected by `df.isnull().sum()` find a way to replace whatever is indicating the missing values with `np.NaN`.
- Use the .describe() function in order to see the summary statistics of both the numeric and non-numeric columns.

In [0]:
# TODO your work here!
# And note you should write comments, descriptions, and add new
# code and text blocks as needed
flag_data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data'

#Not python this is a shell command. the ! tells colab that the comand is not python
#!curl https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data

In [0]:
names_data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.names'

!curl https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.names

In [0]:
import pandas as pd
#define the column headers
column_headers = ['name','landmass','zone','area','population','language','religion','bars','stripes','colours','red','green','blue','gold','white','black','orange','mainhue','circles','crosses','saltires','quarters','sunstars','crescent','triangle','icon','animate','text ','topleft','botright']
#get the data
df = pd.read_csv(flag_data_url, names=column_headers)

df.head()

In [23]:
#number of instances, attributes of the data to make sure it is loaded correctly
df.shape

(194, 30)

## 2) Load a dataset from your local machine.
Choose a second dataset from the "Popular Datasets" listing on UCI, but this time download it to your local machine instead of reading it in via the URL. Upload the file to Google Colab using the files tab in the left-hand sidebar or by importing `files` from `google.colab` The following link will be a useful resource if you can't remember the syntax: <https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92>

- Answer all of the same bullet point questions from part 1 again on this new dataset.

In [0]:
# TODO your work here!
# And note you should write comments, descriptions, and add new
# code and text blocks as needed
from google.colab import files
uploaded = files.upload()

## 3) Make Crosstabs of the Categorical Variables

Take whichever of the above datasets has more categorical variables and use crosstabs to tabulate the different instances of the categorical variables.

In [0]:
adult_data_name = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names'
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names

In [0]:
# Your Code Here
adult_data = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'

column_headers = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week','native-country', 'income']

df = pd.read_csv(adult_data, names= column_headers)

df.head()

In [0]:
#last 5 rows in the data set
df.tail()

In [0]:
#usful summary stats
df.describe()

In [0]:
#exclude certain things
df.describe(exclude='number')

In [0]:
#gets everything
df.describe(include='all')

In [0]:
#look at data in specific columns to better understand the data and what we can do with it
df.dtypes

In [44]:
#to acess specific column and row
df['native-country'][14]

' ?'

In [0]:
import numpy as np
#replace missing values with NaN
df = df.replace({" ?":np.NaN})

In [0]:
#looking for missing values for cleaning
df.isnull().sum()

In [51]:
#Crosstab
#Tabulating instances of to catagorical Variables
#Catagorical Variables only
pd.crosstab(df['sex'], df['education'])

education   10th   11th   12th  ...   Preschool   Prof-school   Some-college
sex                             ...
 Female      295    432    144  ...          16            92           2806
 Male        638    743    289  ...          35           484           4485

[2 rows x 16 columns]

## 4) Explore the distributions of the variables of the dataset using:
- Line Plot
- Histograms
- Scatterplots
- Density Plots

**Line Plot**

In [0]:
# Your Code Here
#sorted by index
df['education-num'].value_counts().sort_index()

In [0]:
#Ploting with pandas(included in pandas) use dot plot for lin plot
df['education-num'].value_counts().sort_index().plot();

**Histograms**

In [0]:
#Histogram
df['age'].hist(bins=100);

**Scatter Plot**

In [0]:
#scatter plot of the age vs hours worked per week
df.plot.scatter('age', 'hours-per-week')

**Density Plots -Kernal Density Estimate (KDE)**

In [0]:
#like a smoothed out histogram (df['age'].hist(bins=100);)
df['age'].plot.density()

## 5) Create at least one visualization from a crosstab:

Remember that a crosstab is just a dataframe and can be manipulated in the same way by row index, column, index, or column/row/cell position.

In [0]:
#using Pandas cross tab to plot tables aka awesome line graphs
table = pd.crosstab(df['education'], df['sex'])
table.plot()

In [0]:
#Same thing but as a bar graph
pd.crosstab(df['education'], df['sex']).plot(kind='bar')

In [0]:
#same as bar but stacked
pd.crosstab(df['education'], df['sex']).plot(kind='bar', stacked='true')

In [0]:
# Your Code Here

## Stretch Goals 

The following additional study tasks are optional, they are intended to give you an opportunity to stretch yourself beyond the main requirements of the assignment. You can pick and choose from the below, you do not need to complete them in any particular order.

### - Practice Exploring other Datasets

### -  Try using the Seaborn plotting library's "Pairplot" functionality in order to explore all of the possible histograms and scatterplots of your dataset all at once:

[Seaborn Pairplot](https://seaborn.pydata.org/generated/seaborn.pairplot.html)

### - Turn some of the continuous variables into categorical variables by binning the values using:
- [pd.cut()](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.cut.html)
- [pd.qcut()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.qcut.html)
- <https://stackoverflow.com/questions/30211923/what-is-the-difference-between-pandas-qcut-and-pandas-cut>

And then use crosstabs to compare/visualize these binned variables against the other variables.


### - Other types and sources of data
Not all data comes in a nice single file - for example, image classification involves handling lots of image files. You still will probably want labels for them, so you may have tabular data in addition to the image blobs - and the images may be reduced in resolution and even fit in a regular csv as a bunch of numbers.

If you're interested in natural language processing and analyzing text, that is another example where, while it can be put in a csv, you may end up loading much larger raw data and generating features that can then be thought of in a more standard tabular fashion.

Overall you will in the course of learning data science deal with loading data in a variety of ways. Another common way to get data is from a database - most modern applications are backed by one or more databases, which you can query to get data to analyze. We'll cover this more in our data engineering unit.

How does data get in the database? Most applications generate logs - text files with lots and lots of records of each use of the application. Databases are often populated based on these files, but in some situations you may directly analyze log files. The usual way to do this is with command line (Unix) tools - command lines are intimidating, so don't expect to learn them all at once, but depending on your interests it can be useful to practice.

One last major source of data is APIs: https://github.com/toddmotto/public-apis

API stands for Application Programming Interface, and while originally meant e.g. the way an application interfaced with the GUI or other aspects of an operating system, now it largely refers to online services that let you query and retrieve data. You can essentially think of most of them as "somebody else's database" - you have (usually limited) access.

*Stretch goal* - research one of the above extended forms of data/data loading. See if you can get a basic example working in a notebook. Image, text, or (public) APIs are probably more tractable - databases are interesting, but there aren't many publicly accessible and they require a great deal of setup.